In [1]:
from pyspark.sql import SparkSession

In [ ]:
# Initializing Spark

In [ ]:
spark=SparkSession.builder.appName('Testing').getOrCreate()

In [ ]:
spark

In [28]:
#reads
dataframe = spark.read.option('header','true').csv('ds.csv',inferSchema=True,sep='\t')

In [ ]:
# to note :
#     inferSchema - gives default csv value
#     header - to define titles

In [ ]:
# Reading a CSV File

In [31]:
dataframe = spark.read.csv('ds.csv',header=True,inferSchema=True)

In [32]:
# dataframe.head(3)
dataframe.show()
# dataframe.columns

+----------+---+---+
|      Name|Age|Exp|
+----------+---+---+
|     Diena| 31| 10|
|     Kayla| 25|  9|
|Michaelina| 44|  5|
|    Corene| 38|  7|
|   Deloria| 35|  3|
|   Tamqrah| 26|  8|
|   Gertrud| 39|  8|
| Mireielle| 35|  4|
|     Jessy| 44|  4|
| Kimberley| 30|  4|
+----------+---+---+

In [ ]:
# Selecting A Column

In [42]:
dataframe.select(['Name','Exp']).show(5)

+----------+---+
|      Name|Exp|
+----------+---+
|     Diena| 10|
|     Kayla|  9|
|Michaelina|  5|
|    Corene|  7|
|   Deloria|  3|
+----------+---+
only showing top 5 rows

In [45]:
dataframe.dtypes

[('Name', 'string'), ('Age', 'int'), ('Exp', 'int')]

In [47]:
dataframe.describe().show()

+-------+-------+-----------------+-----------------+
|summary|   Name|              Age|              Exp|
+-------+-------+-----------------+-----------------+
|  count|     10|               10|               10|
|   mean|   null|             34.7|              6.2|
| stddev|   null|6.733828364641056|2.485513584307633|
|    min| Corene|               25|                3|
|    max|Tamqrah|               44|               10|
+-------+-------+-----------------+-----------------+

In [ ]:
#Adding Columns

In [51]:
dataframe=dataframe.withColumn('Exp aft 2',dataframe['Exp']+2)

In [52]:
dataframe.show()

+----------+---+---+---------+
|      Name|Age|Exp|Exp aft 2|
+----------+---+---+---------+
|     Diena| 31| 10|       12|
|     Kayla| 25|  9|       11|
|Michaelina| 44|  5|        7|
|    Corene| 38|  7|        9|
|   Deloria| 35|  3|        5|
|   Tamqrah| 26|  8|       10|
|   Gertrud| 39|  8|       10|
| Mireielle| 35|  4|        6|
|     Jessy| 44|  4|        6|
| Kimberley| 30|  4|        6|
+----------+---+---+---------+

In [ ]:
#dropping

In [56]:
dataframe=dataframe.drop('Exp aft 2')

In [57]:
dataframe.show()

+----------+---+---+
|      Name|Age|Exp|
+----------+---+---+
|     Diena| 31| 10|
|     Kayla| 25|  9|
|Michaelina| 44|  5|
|    Corene| 38|  7|
|   Deloria| 35|  3|
|   Tamqrah| 26|  8|
|   Gertrud| 39|  8|
| Mireielle| 35|  4|
|     Jessy| 44|  4|
| Kimberley| 30|  4|
+----------+---+---+

In [ ]:
#renaming

In [59]:
# dataframe.withColumnRenamed('Name','UserName').show()

+----------+---+---+
|  UserName|Age|Exp|
+----------+---+---+
|     Diena| 31| 10|
|     Kayla| 25|  9|
|Michaelina| 44|  5|
|    Corene| 38|  7|
|   Deloria| 35|  3|
|   Tamqrah| 26|  8|
|   Gertrud| 39|  8|
| Mireielle| 35|  4|
|     Jessy| 44|  4|
| Kimberley| 30|  4|
+----------+---+---+