In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Testing2').getOrCreate()

21/12/29 21:03:07 WARN Utils: Your hostname, home resolves to a loopback address: 127.0.1.1; using 192.168.1.6 instead (on interface wlp4s0)
21/12/29 21:03:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/12/29 21:03:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark

In [5]:
dataframe = spark.read.csv('ds.csv',header=True,inferSchema=True)

In [8]:
dataframe.na.drop().show()
#to drop all null values

+----------+---+---+
|      Name|Age|Exp|
+----------+---+---+
|     Diena| 31| 10|
|     Kayla| 25|  9|
|Michaelina| 44|  5|
|    Corene| 38|  7|
|   Deloria| 35|  3|
|   Tamqrah| 26|  8|
|   Gertrud| 39|  8|
| Kimberley| 30|  4|
+----------+---+---+

In [10]:
dataframe.na.drop(how="all").show()
#how==any(removes tuple with any null) or how==al (removes tuple with null value)

+----------+----+----+
|      Name| Age| Exp|
+----------+----+----+
|     Diena|  31|  10|
|     Kayla|  25|   9|
|Michaelina|  44|   5|
|    Corene|  38|   7|
|   Deloria|  35|   3|
|   Tamqrah|  26|   8|
|   Gertrud|  39|   8|
| Mireielle|null|   4|
|     Jessy|  44|null|
| Kimberley|  30|   4|
+----------+----+----+

In [18]:
dataframe.na.drop(how="any",thresh=2).show()
#threshold condition for how

+----------+---+----+
|      Name|Age| Exp|
+----------+---+----+
|     Diena| 31|  10|
|     Kayla| 25|   9|
|Michaelina| 44|   5|
|    Corene| 38|   7|
|   Deloria| 35|   3|
|   Tamqrah| 26|   8|
|   Gertrud| 39|   8|
|     Jessy| 44|null|
| Kimberley| 30|   4|
+----------+---+----+

In [19]:
dataframe.na.drop(how="any",subset=['Exp']).show()
#subset of Exp with a Null value drops

+----------+---+---+
|      Name|Age|Exp|
+----------+---+---+
|     Diena| 31| 10|
|     Kayla| 25|  9|
|Michaelina| 44|  5|
|    Corene| 38|  7|
|   Deloria| 35|  3|
|   Tamqrah| 26|  8|
|   Gertrud| 39|  8|
| Kimberley| 30|  4|
+----------+---+---+

In [33]:
dataframe.na.fill("Missing").show()

+----------+----+----+
|      Name| Age| Exp|
+----------+----+----+
|     Diena|  31|  10|
|     Kayla|  25|   9|
|Michaelina|  44|   5|
|    Corene|  38|   7|
|   Deloria|  35|   3|
|   Tamqrah|  26|   8|
|   Missing|  39|   8|
| Mireielle|null|null|
|     Jessy|  44|null|
| Kimberley|  30|   4|
+----------+----+----+

In [48]:
from pyspark.ml.feature import Imputer

imp = Imputer(
    inputCols=['Age','Exp'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Exp']]
).setStrategy("median")

In [49]:
imp.fit(dataframe).transform(dataframe).show()

+----------+----+----+-----------+-----------+
|      Name| Age| Exp|Age_imputed|Exp_imputed|
+----------+----+----+-----------+-----------+
|     Diena|  31|  10|         31|         10|
|     Kayla|  25|   9|         25|          9|
|Michaelina|  44|   5|         44|          5|
|    Corene|  38|   7|         38|          7|
|   Deloria|  35|   3|         35|          3|
|   Tamqrah|  26|   8|         26|          8|
|      null|  39|   8|         39|          8|
| Mireielle|null|null|         35|          7|
|     Jessy|  44|null|         44|          7|
| Kimberley|  30|   4|         30|          4|
+----------+----+----+-----------+-----------+